@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  width: 60px; /* Reduced width for smaller screens */
  height: 60px; /* Reduced height for smaller screens */
  line-height: 60px; /* Adjusted line-height for smaller screens */
  border-radius: 50%;
  font-size: 1.5rem; /* Reduced font size for smaller screens */
  text-align: center;
}

.time {
  width: 40px; /* Reduced width for smaller screens */
  height: 40px; /* Reduced height for smaller screens */
  line-height: 40px; /* Adjusted line-height for smaller screens */
  border-radius: 50%;
  background-color: #949494;
  font-size: 1.0rem; /* Reduced font size for smaller screens */
  text-align: center;
}

.label {
  margin-top: 8px;
  font-size: 0.75rem; /* Reduced font size for labels on smaller screens */
  text-transform: uppercase;
  text-align: center;
  color: #cbd5e0;
}

.small-image {
  width: 50%;  /* Set the desired width */
  height: 50%; /* Set the desired height */
}

@media (min-width: 640px) {
  .time-unit {
    width: 80px; /* Default width for larger screens */
    height: 80px; /* Default height for larger screens */
    line-height: 80px; /* Default line-height for larger screens */
    font-size: 2rem; /* Default font size for larger screens */
  }

  .time {
    width: 80px; /* Default width for larger screens */
    height: 80px; /* Default height for larger screens */
    line-height: 80px; /* Default line-height for larger screens */
    font-size: 2rem; /* Default font size for larger screens */
  }

  .label {
    font-size: 1rem; /* Default font size for labels on larger screens */
  }
}

